node_modules/
out/
dist/
.DS_Store
*.log
backend/venv/
backend/__pycache__/
backend/*.pyc
.env
.eslintcache
build/*
!build/icon.png
!build/entitlements.mac.plist
!build/entitlements.mac.inherit.plist
firebase/functions/lib/
tsconfig.node.tsbuildinfo
